:root{
    --a:0;
   
}
*{
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;

    
}
.spotifyPlaylists{
    height: 140vh;
}
.
/*Left Css*/

.left{
    width: 25vw;
}
.close{
    position: absolute;
    right: 15px;
    top: 15px;
}
.right{
    width: 75vw;
    position: relative;

    
}
.home ul li{
    padding: 13px 20px;
    gap: 10px;
    width: 25px;
    display: flex;
}
.heading{
    color: white;
    padding: 13px 20px;
    gap: 10px;
    display: flex;

}

.Library {
   
    position: relative;
}
.Library img{
    width: 30px;
}

.songsList{
    padding: 15px;
    max-height: 50vh;
    flex-direction: column;
    overflow-x: scroll;
    display: flex;
    /* flex-wrap: wrap; */

}
.songsList ul li{
    list-style: decimal;
    display: flex;
    font-size: 12px;

    cursor: pointer;
    padding: 14px 0px;
    gap: 10px;

    justify-content: space-between;
    transition: all 0.5s;

   
    align-items: center;
    border: 0.1px solid black;
    border-radius: 6px;
    margin: 10px 0;
}

.songsList ul li:hover{
    border: 0.1px solid pink;
    background-color: #acacac;
    box-shadow: 3px 3px   rgb(0, 0, 0);

}

.info{
    width: 200px;
}

.Playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}


.footer{
    padding: 10px;
    display: flex;
    color: grey;
    font-size: 11px;
    gap: 13px;
    bottom: 5px;
    /* position: absolute; */
    flex-wrap: wrap;
}
.footer a{
    color: grey;
}
.logo{
    padding: 13px 20px;
    width: 50px;

}
/* Right css */


.header{
    padding: 22px;
    display: flex;
    max-height: 5vh;
    justify-content: space-between;
    background-color: #111111;
}
.hamburger{
    display: none;
        
}
.SignUp{     
    background-color: #111111;  
    color: grey;
}
.SignUp:hover{     
    background-color: #111111;  
    color: white;
    font-size: 15.5px;
}
.LogIn{    
    background-color: rgb(255, 255, 255);
}
.LogIn:hover{ 
    font-size: 15.5px;
    padding: 18px 30px;  
}
.btn-css{
    cursor: pointer;
    font-weight: 700;  
    padding: 16px 28px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
}

.spotifyPlaylists{
    margin: 10px;
    padding: 15 px;
    color: white;
    height: 85vh;
}
.cardContainer{

    max-height: 65vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    gap: 14px;
}
.card{
    position: relative;
    width: 190px;
    padding: 10px;
    background-color: grey;
    border-radius: 5px;
    transition: all 0.5s;
}
.card:hover{
    background-color: rgb(5, 70, 5);
    cursor: pointer;
    --a:1;
}
.card >*{
    padding-top: 7px;
}
.card img{
    border-radius: 5px;  
    width: 100%;
    object-fit: contain;
}

/* Play logo hai ye playlist ke upar jo dikhta hai voh wala */
.play{ 
    position: absolute;
    top: 144px;
    right: 16px;  
    opacity: var(--a); 
}

/* Ye wala play bar hai neeche wala */
.playBar{
    display: flex;
    flex-direction: column;

    background-color: darkgreen;
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 15px;
    box-sizing: border-box;

    border-radius: 10px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}
.timevol{

    display: flex;
    align-items: center;
    justify-content: center;

}

.range input{
    cursor: pointer;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.songbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.songinfo{
    color: aliceblue;
    width: 200px;
}.songtime{
    width: 120px;

}



.songbuttons img{
    cursor: pointer;
}

.seekbar{
    border: 2px solid rgb(255, 255, 255);
    height: 3px;
    width: 98%;
    margin: 15px 0px;
   
    border-radius: 10px;
    cursor: pointer;
}
.progress{
    position: relative;
    bottom: 12px;
    size: 10px;
    border: 2px solid red;
    width: 0%;
    transition: width 0.5s;
}
.circle{
    z-index: 1;
    position: relative;
    height: 8px;
    width: 8px;
    left: 0%;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    transition: left 0.5s;

    top: -4px;
}

@media (width <= 842px) {
    .left{
        background-color: black;
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 100%;
        height: 100vh;

    }

    .right{
        width: 100vw;
        height: 100vh;
    }
    .playBar{
        padding: 0 px;
        width: 100%;
        display: flex;
    }
    .hamburger{
        display: inline-block;
    }
    .card{
        width: 41%;
        margin: 0;

    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .spotifyPlaylists h1{
        padding: 15px;
    }

    .abovebar{
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .songinfo{
        width: auto;
    }
    .songtime{
        width: auto;
    }

    .timevol{
        flex-direction: column;
        gap: 2px; 
    }
}

@media (width <= 500px) {
    .card{
        width: 100%;
        margin: 0;

    }

}
  